.process__container {
  display: flex;
  justify-content: space-evenly;
}
.process__inner {
  margin-right: 10px;
}

.process__singleProcess {
  height: 200;
  width: 200;
  padding-left: 10px;
  padding-right: 10px;
}

.process__topic {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
